<% content_for :banner do %>
  <%= @final_report.task.summary %>
<% end %>

<div class="row">
  <div class="col-md-7">
    <h2>Instructions</h2>
    <%= render partial: 'description.html.erb',
        locals: {final_report: @final_report} %>
  </div>
  <div class="col-md-5">
    <h2>Task Status</h2>
    <%= render partial: 'state.html.erb',
        locals: {final_report: @final_report} %>

    <h2>Actions</h2>
    <%= render_state_actions @final_report %>
  </div>
</div>

<h2>Submission History</h2>
<%= render @log_events %>

<%= will_paginate @log_events %>
