<% content_for :banner do %>
  Supervisors

  <%= link_to 'Create Supervisor Account', new_supervisor_path(redirect: @redirect),
      class: 'btn btn-primary pull-right' %>
<% end %>

<table class="table table-hover table-condensed supervisors-table">
  <tbody>
    <% @supervisors.each do |supervisor| %>
      <tr>
        <td class="supervisors-table-name"><%= supervisor.full_name %></td>
        <td class="supervisors-table-email"><%= supervisor.email %></td>
        <td class="supervisors-table-projects">
          <% supervisor.projects.each do |project| %>
            <%= project.name %>
          <% end %>
        </td>
        <td class="supervisors-table-actions table-actions">
          <%= button_to "Delete",
              {controller: :supervisors, action: :destroy, id: supervisor.id, redirect: @redirect},
              method: :delete, class: 'btn btn-xs btn-warning',
              data: { confirm: 'Are you sure you want to delete this account?' }
              %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <th>Full Name</th>
    <th>Email Address</th>
    <th>Projects</th>
    <th></th>
  </thead>
</table>
