<% content_for :banner do %>
  Deadlines
<% end %>

<table class="table deadlines-table">
  <tbody>
    <% @deadlines.each do |name, deadline| %>
      <tr>
        <td class="deadlines-table-deliverable"><%= name %></td>
        <td class="deadlines-table-timestamp
                   <% unless deadline.errors.empty? %>has-error<% end %>">
          <%= form_for deadline, class: 'form-inline' do |f| %>
            <%= f.hidden_field :code %>
            <%= f.date_select :timestamp,
                {default: DateTime.now},
                {class: 'date form-control input-sm'} %>
            <%= f.submit 'Schedule', class: 'btn btn-sm btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <th>Deliverable</th>
    <th>Deadline</th>
  </thead>
</table>
