<% content_for :banner do %>
  Manage Users for <%= @project.name %>

  <%= link_to 'Back', project_path(@project),
      class: 'btn btn-primary pull-right' %>

<% end %>

<h2>Available Users</h2>
<table class="table table-hover table-condensed projects-member-management-table">
  <tbody>
    <% if @supervisors.empty? && @group_members.empty? %>
      <tr>
        <td class="table-empty-message" colspan="4">
          There are no users eligible to join the selected project.
        </td>
      </tr>
    <% end %>
    <% @supervisors.each do |supervisor| %>
      <tr>
        <td class="projects-table-supervisor-name">
          <%= supervisor.full_name %>
        </td>
        <td class="projects-table-supervisor-email">
          <%= mail_to supervisor.email %>
        </td>
        <td class="projects-table-member-programme">
          <span class="label label-default">supervisor</span>
        </td>
        <% if policy(@project).add? %>
          <td class="projects-table-supervisor-remove">
            <%= button_to 'Add', project_user_add_path(@project, supervisor),
                class: 'btn btn-xs btn-primary pull-right',
                data: { confirm: "Are you sure you want to add #{supervisor.full_name} to the project?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% @group_members.each do |member| %>
      <tr>
        <td class="projects-table-member-name">
          <%= member.full_name %> (<%= member.student_number %>)
        </td>
        <td class="projects-table-member-email">
          <%= mail_to member.email %>
        </td>
        <td class="projects-table-member-programme">
          <span class="label label-primary"><%= member.programme %></span>
        </td>
        <% if policy(@project).add? %>
          <td class="projects-table-member-remove">
            <%= button_to 'Add', project_user_add_path(@project, member),
                class: 'btn btn-xs btn-primary pull-right',
                data: { confirm: "Are you sure you want to add #{member.full_name} to the project?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Programme</th>
    <th></th>
  </thead>
</table>
