<% content_for :banner do %>
  Projects

  <% if policy(Project.new).create? %>
    <%= link_to 'Create Project', new_project_path,
        class: 'btn btn-primary pull-right' %>
  <% end %>
<% end %>

<table class="table table-hover table-condensed projects-table">
  <tbody>
    <% if @projects.empty? %>
      <tr>
        <td class="table-empty-message" colspan="5">
          There are no projects yet for the current year.

          <% if policy(Project.new).create? %>
            <%= link_to 'Click here', new_project_path %> to create one.
          <% end %>
        </td>
      </tr>
    <% end %>
    <% @projects.each do |project| %>
      <tr>
        <td class="projects-table-name">
          <%= link_to project.name, project_path(project) %>
        </td>
        <td class="projects-table-supervisor">
          <%= project.supervisors.map(&:full_name).join(', ') %>
        </td>
        <td class="projects-table-members">
          <%= project.group_members.map(&:full_name).join(', ') %>
        </td>
        <td class="projects-table-programmes">
          <% project.programmes.each do |programme| %>
            <span class="label label-primary"><%= programme.programme %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <th>Project Name</th>
    <th>Supervisors</th>
    <th>Group Members</th>
    <th>Programmes</th>
    <th></th>
  </thead>
</table>
