<% content_for :banner do %>
  Create Project
<% end %>

<%= simple_form_for @project do |f| %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :description %>
  </div>

  <%= bootstrap_form_buttons do %>
    <%= f.button :submit, "Create", class: 'btn btn-success'%>
    <%= link_to "Cancel", :back, class: 'btn btn-default' %>
  <% end %>

<% end %>
