<% content_for :banner do %>
  Projects

  <% if policy(@project).destroy? %>
    <%= button_to "Delete",
      {controller: :projects, action: :destroy, id: @project.id},
      method: :delete, class: 'btn pull-right btn-warning',
      data: { confirm: 'Are you sure you want to delete this project?' }
    %>
  <% end %>

  <% if policy(@project).users? %>
    <%= link_to 'Manage Users', project_users_path(@project),
        class: 'btn btn-primary pull-right' %>
  <% end %>
<% end %>

<p>Project Name: <%= @project.name %></p>

<p>Project Description: <%= @project.description %></p>

<p>Programmes: 
  <% @programmes.each do |programme| %>
    <%= programme.programme %>
  <% end %>
</p>

Supervisor:
<table class="table table-hover table-condensed projects-supervisor-table">
  <tbody>
    <% @project.supervisors.each do |supervisor| %>
      <tr>
        <td class="projects-table-supervisor-name">
          <%= supervisor.full_name %>
        </td>
        <td class="projects-table-supervisor-email">
          <%= supervisor.email %>
        </td>
        <% if policy(@project).remove? %>
          <td class="projects-table-supervisor-remove">
            <%= button_to 'Remove', project_user_remove_path(@project.id, supervisor.id),
                class: 'btn btn-primary pull-right' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </thead>
</table>


Group Members:
<table class="table table-hover table-condensed projects-member-table">
  <tbody>
    <% @project.group_members.each do |member| %>
      <tr>
        <td class="projects-table-member-name">
          <%= member.full_name %>
        </td>
        <td class="projects-table-member-email">
          <%= member.email %>
        </td>
        <% if policy(@project).remove? %>
          <td class="projects-table-member-remove">
            <%= button_to 'Remove', project_user_remove_path(@project.id, member.id),
                class: 'btn btn-primary pull-right' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </thead>
</table>
