<% content_for :banner do %>
  <%= @taskable.task.summary %>
<% end %>

<%= render_state_indicator @taskable %>

<div class="row">
  <div class="col-md-7">
    <h2>Instructions</h2>
    <%= render partial: 'description.html.erb', locals: {taskable: @taskable} %>
  </div>
  <div class="col-md-5">
    <h2>Task Status</h2>
    <%= render partial: 'state.html.erb', locals: {taskable: @taskable} %>

    <h2>Actions</h2>
    <%= render_state_actions @taskable %>
  </div>
</div>

<h2>Submission History</h2>
<%= render @log_events %>

<%= will_paginate @log_events %>
